
// primary colors

$red: hsl(0, 78%, 62%);
$cyan: hsl(180,62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// neutral
$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0,0%, 98%);

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: $veryDarkBlue;
    background-color: $veryLightGray;
}

main {
    padding: 0.5rem;
}

@mixin ads {
        border: 1px solid $veryLightGray;
        border-top: 5px solid $cyan;
        border-radius: 10px;
        padding: 0 1rem;
        background-color: white;
        box-shadow: 0px 10px 35px $grayishBlue ;


        h2 {
            margin-block-end: 0;
        }

        p{
            margin-block-start: 0.5rem;
            margin-block-end: 0.5rem;
            color: $grayishBlue;
        }

        img {
            // float: right;
            padding-top: 1rem;
            padding-bottom: 1.25rem;
            padding: 1rem 0rem 1.55rem 13.25rem;
        }

}

.main-ad {
    padding-top: 1.5rem;
    padding-bottom: 4rem;

    h1 {
        font-weight: 200;
        color: $veryDarkBlue;
        text-align: center;
        font-size: 1.75rem;

        .bold {
            font-weight: 600;
            display: block;
        }

    }

    p {
        text-align: center;
        padding: 0 1.5rem;
        color: $grayishBlue;
    }
}

.container {
    display: grid;
    grid-template-rows: auto;
    padding: 0 1.25rem;
    padding-bottom: 2rem;

    .supervisor {
        @include ads;
    }
    
    .team-builder {

        @include ads;
        margin-top: 2rem;
        border-top: 5px solid $red;
    }

    .karma {
        @include ads;
        margin-top: 2rem;
        border-top: 5px solid $orange;
        
    }

    .calculator {
        @include ads;
        margin-top: 2rem;
        border-top: 5px solid $blue;
    }
}

@media only screen and (min-width: 1440px) {

    .main-ad {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
            padding: 0 26rem;
        }
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        // grid-template-rows: auto auto;
        // grid-template-areas: 
        //     "supervisor     team    calculator"
        //     "supervisor     karma   calculator";
        //     // "supervisor      karma          calculator";
        
        // .supervisor {
        //     grid-area: supervisor;
        // }
        // .team-builder {
        //     grid-area: team;
        // }
        // .karma {
        //     grid-area: karma;
        // }

        // .calculator {
        //     grid-area: calculator;
        // }

        .karma, 
        .team-builder, 
        .calculator {
            margin-top: 0;
        }

        .card {
            width: 85%;
            height: 300px;
            // justify-self: center;
            // align-self: center;
            
            img {
                padding: 6rem 0rem 1.55rem 19rem;
            }
            
        }

        .card:nth-child(1) {
            grid-column: 1;
        }

        .card:nth-child(2), 
        .card:nth-child(3) {
            grid-column: 2;
        }

        .card:nth-child(4) {
            grid-column: 3;
        }

        .column1, .column3 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .column2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .supervisor {
            p, h2 {
                padding: 0 1.5rem;
            }
        }
        .team-builder {
            margin-bottom: 0.75rem;
            p, h2 {
                padding: 0 1.5rem;
            }
        }
        .karma {
            margin-top: 0.75rem;
            p, h2 {
                padding: 0 1.5rem;
            }
        }

        .calculator {
            p, h2 {
                padding: 0 1.5rem;
            }
            img {
                bottom: 0;
            }
        }
    }
}